body{
    font-family: sans-serif;
}
*{box-sizing: border-box}
h2,h3{
    color:#777;
}
p{
    color:#888;
    line-height: 1.7;
}
.fl-left{
    float:left;
}
.container{
    width:1170px;
    margin:auto;
}
.header .slider{
    background-image: url("../images/slider.jpg");
    background-size: cover;
    height: 600px;
}
.header .slider .content
{
    text-align: center;
    padding: 200px 0;
    margin: auto;
}
.header .slider .content h2{
    color:white;
    width: 611px;
    border-bottom: 3px solid white;
    border-top:3px solid white;
    margin:0 auto;
    padding: 5px 0;
    font-size: 50px;
}
.header .slider .content button
{
    background: transparent;
    border: 2px solid white;
    color:white;
    padding: 10px 30px;
    margin-top: 30px;
    font-size: 20px;
}
.header .navbar{
    background: #252F31;
    overflow: hidden;
    color:white;
}
.header .navbar h2{
    float: left;
    color:white;
}
.header .navbar h2::first-letter{
    color:#2ecc71;
}
.header .navbar ul{
    list-style-type: none;
    float: right;
    padding-left: 0;
    overflow: hidden;
}

.header .navbar ul li{
    float: left;
    padding: 10px;
}
.header .navbar ul li.active{
    color:#2ecc71;
}
.header .navbar ul li:hover{
    color:#2ecc71;
}

/*Start Features Section*/
.features{
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
}
.features .feat
{
    width: 33.33%;
    float: left;
    height: 150px;
}

.features .feat h2{
    color:#777;
}

.features .feat p{
    color:#888;
    line-height: 1.7;
}
/*End Of Features*/

.about-me{
    background:#F2F2F2;
    overflow: hidden;
}

.about-me .image{
    float: left;
    width: 40%;
}

.about-me .info{
    float: left;
    width: 60%;
}

.about-me .info h2{
    color:#777;
    margin: 25px 0 20px 40px;
}

.about-me .info p{
    margin: 0 0 10px 40px;
}

.about-me .info > p:last-of-type {
    margin-top: 25px;
}

.about-me .hobbies{
    overflow: hidden;
    margin: 15px 0 0 40px;
}

.about-me .hobbies .content{
    width: 50%;
    overflow: hidden;
    padding: 7px 0 25px 0;
}

.about-me .hobbies .content .icon
{
    width: 12%;
    margin-right: 5%;
}
.about-me .info .hobbies .content .icon i {
    /*margin-top: 30px;*/
    /*margin-left: 25px;*/
    /*color: #2DCC70;*/
    margin-top: 30px;
    color: #2DCC70;
}
.about-me .hobbies .content .text{
    width: 83%;
}
.about-me .hobbies .content .text h3{
    margin-bottom: 5px;
}
.about-me .hobbies .content .text p{
    margin:0;
}


.wrapper{
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 50px;
}
.box{
    width: 50%;
    float: left;
}

.wrapper .box  h2{
    padding-left: 30px;
}

.wrapper .box p{
    padding-left: 30px;
    padding-bottom: 20px;
    line-height: 1.7;
    font-size: 15px;
}

.wrapper .box button{
    background: none;
    color: #2DCC70;
    padding: 8px 19px;
    text-align: center;
    border: 2px solid #2DCC70;
    margin-left: 30px;
    font-size: 16px;
    font-weight: bold;
}

.box .skill h3{
    margin-bottom: 11px;
    margin-left: 14px;
}
.box .skill .myprogress{
    width: 90%;
    background: #F2F2F2;
    margin-left: 15px;
}
.box .skill .mybar{
    width: 80%;
    height: 25px;
    background: #2DCC70;
    color: white;
    line-height: 25px;
    text-align: right;
    padding-right: 6px;
    font-weight: bold;
}

.skill:nth-child(1) .myprogress .mybar{
    width: 90%;
}

.skill:nth-child(2) .myprogress .mybar{
    width: 80%;
}

.skill:nth-child(3) .myprogress .mybar{
    width: 83%;
}

.skill:nth-child(4) .myprogress .mybar{
    width: 75%;
}

/*End Of skills Section*/

.resume{
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 50px;
    background: #F2F2F2;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
}
.resume h2{

}
.resume p{
    line-height: 1.7;
    padding: 0 40px;
}

.resume button{
    background: none;
    color: #2DCC70;
    padding: 8px 19px;
    text-align: center;
    border: 2px solid #2DCC70;
    font-size: 16px;
    font-weight: bold;
}
/*End Of Resume Sections*/

.my-education{
    margin-top: 30px;
    margin-bottom: 50px;
    overflow: hidden;
}
.clearfix{
    clear: both;
}
.my-education hr
{
    height: 1px;
    background: #999;
    border: 0;
    margin: 20px 0;
}
.my-education .main{
    float: left;
    width: 50%;
    margin-right: 5%;
}
.my-education .exp{
    width: 45%;
    float: left;
    margin-top: 35px;

}
.my-education .exp h3{
    margin-bottom: 0;
}

.cert-info{
    color: #999;
    margin-top: 6px;
    margin-bottom: 8px;
}

.gpa{
    margin-bottom: 30px;
    background: #2DCC70;
    color: white;
    border: none;
    padding: 4px 9px;
    font-size: 15px;
}

.my-education .exp .certificate .cert-p{
    padding-bottom: 30px;
}

/*End of MyEducation*/